.header {
  height: 60px;
  display: flex;
  align-items: center;
  background: #131921;
  top: 0;
  z-index: 1000;
  position: sticky;
  padding-right: 10px;
}
.header_logo {
  width: 10vw;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}

.header_search {
  display: flex;
  flex: 4 !important;
  align-items: center;
  border-radius: 24px;
}
.header_searchInput {
  width: 55vw;
  height: 27px;
}
.header_searchIcon {
  padding: 5px;
  background: #cd9042;
  height: 26.5px !important;
  margin-top: 1px;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}
.header_optionLineOne {
  font-size: 10px;
}
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
@media (max-width: 769px) {
  .header_searchInput {
    width: 48vw;
  }
}
@media (max-width: 708px) {
  .header_searchInput {
    width: 30vw;
  }
  .header_logo {
    height: 25px;
    margin: 10px 20px 0 20px;
  }

  .header_option {
    margin: 0px 6px;
  }
  .header_optionLineTwo {
    font-size: 9px;
  }
}
@media (max-width: 608px) {
  .header_search {
    flex: none !important;
  }
}
